.news-header {
    max-width: 200px;
    max-height: 100px;
    border-radius: 10px;

    
}

@media screen and (max-width: 960px) {

    .news-header {
        margin: 0 auto;
        margin-right: 20px;
        max-width: 50px;
        max-width: 50px;   
    }
    
}

